.cssload-box-loading {
    width: 125px;
    height: 125px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    .cssload-box-loading:before {
        content: '';
        width: 125px;
        height: 13px;
        background: rgb(0,0,0);
        opacity: 0.1;
        position: absolute;
        top: 148px;
        left: 0;
        border-radius: 50%;
        animation: shadow 0.58s linear infinite;
        -o-animation: shadow 0.58s linear infinite;
        -ms-animation: shadow 0.58s linear infinite;
        -webkit-animation: shadow 0.58s linear infinite;
        -moz-animation: shadow 0.58s linear infinite;
    }

    .cssload-box-loading:after {
        content: '';
        width: 125px;
        height: 125px;
        background: rgb(0,170,170);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        animation: cssload-animate 0.58s linear infinite;
        -o-animation: cssload-animate 0.58s linear infinite;
        -ms-animation: cssload-animate 0.58s linear infinite;
        -webkit-animation: cssload-animate 0.58s linear infinite;
        -moz-animation: cssload-animate 0.58s linear infinite;
    }



@keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 8px;
    }

    25% {
        transform: translateY(23px) rotate(22.5deg);
    }

    50% {
        transform: translateY(45px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 100px;
    }

    75% {
        transform: translateY(23px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@-o-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 8px;
    }

    25% {
        -o-transform: translateY(23px) rotate(22.5deg);
    }

    50% {
        -o-transform: translateY(45px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 100px;
    }

    75% {
        -o-transform: translateY(23px) rotate(67.5deg);
    }

    100% {
        -o-transform: translateY(0) rotate(90deg);
    }
}

@-ms-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 8px;
    }

    25% {
        -ms-transform: translateY(23px) rotate(22.5deg);
    }

    50% {
        -ms-transform: translateY(45px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 100px;
    }

    75% {
        -ms-transform: translateY(23px) rotate(67.5deg);
    }

    100% {
        -ms-transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 8px;
    }

    25% {
        -webkit-transform: translateY(23px) rotate(22.5deg);
    }

    50% {
        -webkit-transform: translateY(45px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 100px;
    }

    75% {
        -webkit-transform: translateY(23px) rotate(67.5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 8px;
    }

    25% {
        -moz-transform: translateY(23px) rotate(22.5deg);
    }

    50% {
        -moz-transform: translateY(45px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 100px;
    }

    75% {
        -moz-transform: translateY(23px) rotate(67.5deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

@-o-keyframes shadow {
    0%, 100% {
        -o-transform: scale(1, 1);
    }

    50% {
        -o-transform: scale(1.2, 1);
    }
}

@-ms-keyframes shadow {
    0%, 100% {
        -ms-transform: scale(1, 1);
    }

    50% {
        -ms-transform: scale(1.2, 1);
    }
}

@-webkit-keyframes shadow {
    0%, 100% {
        -webkit-transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(1.2, 1);
    }
}

@-moz-keyframes shadow {
    0%, 100% {
        -moz-transform: scale(1, 1);
    }

    50% {
        -moz-transform: scale(1.2, 1);
    }
}
