@model HumanCapitalManagement.ViewModel.MainVM.vTraineeEva_obj_Save
@{
    ViewBag.Title = "HCM | Trainee Evaluation";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}

<section class="content-header">
    <h1>
        Trainee Evaluation
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form class="form-horizontal">
        <div id="divContent">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- general form elements -->
                            <div class="box box-solid box-ctmPR">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Trainee Details</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="col-md-4 control-label text-right nomallabel">Trainee Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control input-sm" id="txtName" data-bind='value: trainee_name' disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm row">
                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control input-sm" id="txtGroup" data-bind='value: group_name' disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm row">
                                                <label class="col-md-4 control-label text-right nomallabel">Trainee No.</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control input-sm" id="txtNoEva" data-bind='value: trainee_no' disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm row">
                                                <label class="col-md-4 control-label text-right nomallabel">Start Date</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group form-inline" style="float: left;">
                                                        <input ID="txtDateAction" name="txtDateAction" class="form-control " data-bind="value : target_start, valueUpdate: 'afterkeydown' " type="text" disabled
                                                               ToolTip="To" placeholder="-- / -- / ----" />
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm row">
                                                <label class="col-md-4 control-label text-right nomallabel">Nickname</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control input-sm" id="txtNickName" data-bind='value: nick_name' disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm row">
                                                <label class="col-md-4 control-label text-right nomallabel">End Date</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group form-inline" style="float: left;">
                                                        <input ID="txtDateAction" name="txtDateAction" class="form-control " data-bind="value : target_end, valueUpdate: 'afterkeydown' " type="text" disabled
                                                               ToolTip="To" placeholder="-- / -- / ----" />
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-solid box-ctmPR4">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trainee Evaluation</h3>
                            <div class="box-tools pull-right">
                                <button id="btnRefeshTable" type="button" class="btn btn-box-tool" onclick="RefreshTable(this)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="callout callout-warning ">
                                        <h4><u>Performance Rating Criteria:</u></h4>
                                        <p>
                                            <div id="ratename1">
                                                <strong>1</strong> : <em> </em><br />
                                            </div>
                                            <div id="ratename2">
                                                <strong>2</strong> : <em> </em><br />
                                            </div>
                                            <div id="ratename3">
                                                <strong>3</strong> : <em>  </em><br />
                                            </div>
                                            <div id="ratename4">
                                                <strong>4</strong> : <em> </em><br />
                                            </div>
                                            <div id="ratename5">
                                                <strong>5</strong> : <em> </em><br />
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover display" id="gvwData" width="100%">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label  text-right nomallabel ">What have you learned from having an internship with KPMG? (สิ่งที่ได้เรียนรู้จากการฝึกงาน)</label>
                                        <div class="col-md-8">
                                            <textarea rows="7" id="txtcomment" cols="50" class="form-control" data-bind='value: comment'
                                                      disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label  text-right nomallabel ">Please identify what you have done well during internship period (สิ่งที่คิดว่าทำได้ดี)</label>
                                        <div class="col-md-8">
                                            <textarea rows="7" id="txtcomment" cols="50" class="form-control" data-bind='value: comment2'
                                                      disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label  text-right nomallabel ">What are your developmental areas ?<br />(สิ่งที่คิดว่าต้องพัฒนาเพิ่มมากขึ้น)</label>
                                        <div class="col-md-8">
                                            <textarea rows="7" id="txtcomment" cols="50" class="form-control" data-bind='value: comment3'
                                                      disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label text-right require" for="textinput">Is this trainee recommended for future hiring</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" id="txtHiring" data-bind='value: hiring_status' disabled>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-4 control-label  text-right nomallabel ">Comments</label>
                                        <div class="col-md-8">
                                            <textarea rows="7" id="txtcomment" cols="50" class="form-control" data-bind='value: incharge_comments'
                                                      disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-sm">
                                        @*<label class="col-md-2 control-label  text-right require ">Result</label>*@
                                        <div class="col-md-8 col-md-offset-2" style=" border:2px solid #f36b11; padding-top 5px;padding-bottom 5px;">
                                            <input type="checkbox" id="chkStatus" name="chkStatus" class="flat-green" value="Y" />I have already communicated the performance feedback to this trainee.

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row row collapse in" id="divReplaced">
                                        <div class="col-lg-12">
                                            <div class="box box-solid box-ctmPR3">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Performance Manager</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <!-- form start -->
                                                <div class="box-body">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-group-sm">
                                                                <label class="col-md-4 control-label text-right nomallabel">Name</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="txtNamemgr" name="txtNamemgr" class="form-control" data-bind='value: mgr_user_name' disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-group-sm">
                                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="txtgroup" name="txtgroup" class="form-control" data-bind='value: mgr_unit_name' disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-group-sm">
                                                                <label class="col-md-4 control-label text-right nomallabel">Rank</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="txtposition" name="txtposition" class="form-control" data-bind='value: mgr_user_rank' disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row row collapse in" id="divReplaced">
                                        <div class="col-lg-12">
                                            <div class="box box-solid box-ctmPR3">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">In-Charge / Engagement Manager</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <!-- form start -->
                                                <div class="box-body">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-group-sm">
                                                                <label class="col-md-4 control-label text-right nomallabel">Name</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="txtNameic" name="txtNameic" class="form-control" data-bind='value: ic_user_name' disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-group-sm">
                                                                <label class="col-md-4 control-label text-right nomallabel">Group</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="txtgroup" name="txtgroup" class="form-control" data-bind='value: ic_unit_name' disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group form-group-sm">
                                                                <label class="col-md-4 control-label text-right nomallabel">Rank</label>
                                                                <div class="col-md-8">
                                                                    <input type="text" id="txtposition" name="txtposition" class="form-control" data-bind='value: ic_user_rank' disabled />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm row">
                                    <label class="col-md-4 control-label text-right nomallabel">Key Contact Evaluator </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" data-bind='value: type_approve' disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer text-center">
                            <button type="button" class="btn btn-primary" onclick="LoadExcel('');">Print</button>
                            <button type="button" class="btn btn-warning" onclick="Cancel();">Back</button>
                        </div>

                        <!-- /.box-body -->

                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
@section style{
    <style>
        div:not(.dataTables_scrollFoot)::-webkit-scrollbar {
            display: none;
        }

        .dt-HeadGr-ctm {
            background-color: #2952a3 !important;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }

        .dt-total-ctm {
            background-color: #36c61a !important;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }

        .dt-totalAll-ctm {
            background-color: rgb(255, 222, 35) !important;
            color: rgb(0, 0, 0) !important;
            vertical-align: middle !important;
        }

        table.dataTable {
            border-collapse: collapse;
            width: 100%;
        }

        .dt-answer {
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: pre;
        }
    </style>

}

@section scripts{
    <script src="~/Scripts/plugins/bootstrapValidate/dist/js/bootstrapValidator.js"></script>
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/plugins/jsLinq/linq.min.js"></script>
    <script src="~/Scripts/plugins/jsLinq/jquery.linq.min.js"></script>
    <script src="~/Scripts/plugins/DataTables2/dataTables.rowGroup.min.js"></script>
    @*Script for bind Data KnockOut*@

    <script type="text/javascript">
        var url = document.URL;
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);

            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        var objModel = @Html.Raw(Json.Encode(Model));

        var sUrlBack = '@Url.Action("TraineeEvaReportList", "TraineeEva")';
        $(function () {
            @if (Request.QueryString["bUrl"] != null)
           {
       <text>
            sUrlBack += "?qryStr=" + '@Uri.EscapeDataString(Request.QueryString["bUrl"])';
            </text>
       }

        });

    </script>

    <script type="text/javascript">
        $(function () {
            SetTable();
            BindData(objModel);
            getRate();
            ko.applyBindings(viewModel);

        });
    </script>
    @*Script for bind Data KnockOut*@
    <script type="text/javascript">
        var viewModel = {

        };
        function ViewModel() {
            var self = this;
            self.conditionChecked = ko.observable(false);
            self.loadCondition = function () {
                //ajax request to get condition value. Suppose ajax request returned value "used". so
                self.conditionChecked("used");
            }
            self.loadCondition();
            ko.bindingHandlers.iCheck = { // integrating icheck plugin using bh
                init: function (element, valueAccessor) {
                    var ctrl = $(element);
                    var sID = ctrl[0].id;
                    //initialize icheck to the element
                    $(element).iCheck({
                        radioClass: 'iradio_flat-green'
                    });
                    $(element).on('ifChecked', function (event) {

                        var observable = valueAccessor();
                        observable.checked(event.target.defaultValue); //assigning selected value
                    });
                },
                update: function (element, valueAccessor) {
                    var observable = valueAccessor();
                }
            };

        }
        function BindData(value) {
            if (viewModel.Id == undefined) {
                viewModel = ko.mapping.fromJS(value);
                ViewModel();
                $("input[id*=chkStatus][value='" + value.confidentiality_agreement + "']").iCheck('check');
                if (objModel.objtifform != undefined && objModel.objtifform != null && objModel.objtifform.lstQuestion != undefined && objModel.objtifform.lstQuestion != null && objModel.objtifform.lstQuestion.length > 0) {
                    $('#gvwData').DataTable().clear().draw();
                    $('#gvwData').dataTable().fnAddData(objModel.objtifform.lstQuestion);
                    $('#gvwData').dataTable().fnDraw();
                    setTimeout(function () {
                        $('#gvwData').DataTable().columns.adjust().draw();
                        // $('#gvwData').DataTable().columns.adjust().responsive.recalc();
                    }, 500);
                }
                else {
                    $("input[id*=chkStatus][value='" + value.confidentiality_agreement + "']").iCheck('check');
                    $('#gvwData').DataTable().clear().draw();
                    $('#gvwData').dataTable().fnDraw();
                }
            }
            else {

                ko.mapping.fromJS(value, {}, viewModel);
            }
        }
        function Cancel() {
            window.location.href = sUrlBack;
        }

        function CreateTextAreaInt(sID, sMaxlength, sValue, sDisable, sRow) {
            $("input[id$=" + sID + "]").unbind();
            var sDis = "";
            if (sDisable != undefined && sDisable == "Y") {
                sDis = "disabled";
            }
            if (sRow == undefined || sRow == null) {
                sRow = 3;
            }

            var sSetValue = sValue != undefined && sValue != "" ? "value='" + sValue + "'" : "";
            var sMaxlength = sMaxlength != undefined && sMaxlength != "" ? "maxlength='" + sMaxlength + "'" : "";
            var sHtml = "<textarea rows='" + sRow + "' cols='50'  id='" + sID + "' name='" + sID + "' class='form-control' " + sMaxlength + " " + sSetValue + " style='width:100%;' " + sDis + "  >" + sValue + "</textarea>";

            return sHtml;
        }
    </script>
    <script type="text/javascript">
        function SetTable() {
            var objHeadClRequest = [
                { "title": "", "width": "0%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "nSeq", "visible": false },
                { "title": "", "width": "5%", "className": "dt-center-ctm", "searchable": false, "orderable": false, "data": "id" },
                { "title": "Descriptions", "width": "20%", "className": "dt-left-ctm", "searchable": false, "orderable": false, "data": "question", },
                { "title": "Trainee's<br/>self-evaluation rating", "width": "15%", "className": "dt-left-ctm", "data": "rating", "searchable": false, "orderable": false },
                { "title": "Evaluator's Rating", "width": "15%", "className": "dt-left-ctm", "data": "approve_rating", "searchable": false, "orderable": false },
                { "title": "Evaluator's comment<br/>Please provide reasons supporting the given rating.", "width": "45%", "className": "dt-left-ctm", "data": "remark", "searchable": false, "orderable": false },
            ];

            var objTableRe = {
                sTableID: "gvwData",
                nDis: [],
                sProperty: "<'row'<'col-sm-6'><'col-sm-6'>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-7'>>",//length pangging
                objHeadCl: objHeadClRequest,//Table Headder
                objDataSet: [], //dataset
                nHeadFix: 0,// fix clr
                EmptyTable: EmptyTable,
                order: [[0, "asc"]],
                objBeforeClRender: false,
                lengthMN: [[-1], ["All"]],
                nRunningNumber: ["true", 1],
                columnDefs: [{
                    "targets": 2,
                    "render": function (data, type, row) {
                        return (data + "").replace("(", "<br/>(");
                    }

                }
                    , {
                        "targets": 5,
                        "render": function (data, type, row) {
                            return CreateTextAreaInt("txtRemark" + row.id, 1000, data, "Y", 7);
                        }
                    }
                ],
                fixedHeader: {
                    header: false,
                    footer: false
                },
                rowGroup: {
                    'startRender': function (rows, group) {
                        return $('<tr/>')
                            .append('<td class="dt-HeadGr-ctm dt-left-ctm" style="height: 25px;font-size: 14px;" colspan="5">' + group + '</td>');
                    },
                    'endRender': null,
                    'dataSrc': 'sgroup'
                },

            };
            var table = CreatTableJS(objTableRe);
        }
        function LoadExcel(Val)
        {
            var sVal =  ko.toJS(viewModel.IdEncrypt);
            BlockUI();
            window.open('@Url.Action("ExptraineeEvaForm", "rpTraineeEva")?qryStr=' + sVal +'&sMode=pdf', '_blank');
            setTimeout(function () { UnblockUI(); }, 500);
        }
         function getRate() {

            objModel.objtifform.lstRating.forEach((item) => {
                if (item.value == "1") {
                    $("div[id$=ratename1]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "2") {
                    $("div[id$=ratename2]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "3") {
                    $("div[id$=ratename3]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "4") {
                    $("div[id$=ratename4]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "5") {
                    $("div[id$=ratename5]").html("<strong>" + (item.text) + "" + "</strong>:  <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "6") {
                    $("div[id$=ratename1]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "7") {
                    $("div[id$=ratename2]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "8") {
                    $("div[id$=ratename3]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "9") {
                    $("div[id$=ratename4]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "10") {
                    $("div[id$=ratename5]").html("<strong>" + (item.text) + "" + "</strong>:  <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "11") {
                    $("div[id$=ratename1]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "12") {
                    $("div[id$=ratename2]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "13") {
                    $("div[id$=ratename3]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "14") {
                    $("div[id$=ratename4]").html("<strong>" + (item.text) + " " + "</strong>: <em>" + (item.detail) + "</em><br />");
                }
                if (item.value == "15") {
                    $("div[id$=ratename5]").html("<strong>" + (item.text) + "" + "</strong>:  <em>" + (item.detail) + "</em><br />");
                }
            })
        }
    </script>
}
