@model HumanCapitalManagement.ViewModel.CommonVM.vErrorObject
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_LPMasterError.cshtml";
}
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <span data-bind="text: msg"></span>
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
@section scripts{
    <script src="~/Scripts/plugins/knockout-3.4.2.js"></script>
    <script src="~/Scripts/plugins/knockout.mapping-latest.js"></script>
    <script type="text/javascript">
        var objModel = @Html.Raw(Json.Encode(Model));
        var lstObj = [];
        $(function () {
            BindData(objModel);
            ko.applyBindings(viewModel);
        });
        var viewModel = {
        };
        function BindData(value) {
            if (viewModel.page == undefined) {
                viewModel = ko.mapping.fromJS(value);
            }
            else {
                ko.mapping.fromJS(value, {}, viewModel);
            }
        }
    </script>
}