
@{
    ViewBag.Title = "KPMG Trainee | Evaluation";
    Layout = "~/Views/Shared/_TPJMaster.cshtml";
}

<div id="page-start"></div>
<!-- section end -->
<!-- section -->
<!-- ================ -->
<section class="main-container light-gray-bg text-center margin-clear">
    <div class="container">
        <div class="row justify-content-lg-center">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-10 pv-40">
                @*<h1 class="page-title extra-large"><span class="text-default">500</span></h1>*@
                <h2 class="mt-4" style="text-transform:none!important;">Trainee Evaluation System will be available on 18th July 2018.</h2>
                <p class="lead">

                </p>

            </div>
            <!-- main end -->
        </div>
    </div>
</section>
@section style{
    <style>
        div:not(.dataTables_scrollFoot)::-webkit-scrollbar {
            display: none;
        }
    </style>
}
