@model HumanCapitalManagement.ViewModel.vHome
@{
    ViewBag.Title = "HCM | Home Page";
    Layout = "~/Views/Shared/_LPMaster.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header"></section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-6">
            <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active text-center">
                                <img src="~/Image/HCM_promote2.jpg" class="center" alt="Second slide" align="middle" style="max-height:364px;background-color:#738;">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item text-center">
                                <img src="~/Image/new-02.jpg" class="center" alt="First slide" align="middle" style="max-height:364px; ">
                                <div class="carousel-caption">

                                </div>
                            </div>


                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><a href="~/Manual/1st Evaluator.pdf" target="_blank" style="color:white"><i class="fa fa-file-pdf-o"></i></a></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Manual Guide</span>
                            <span class="info-box-text"></span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 40%"></div>
                            </div>
                            <span class="progress-description">
                                <a href="~/Manual/1st Evaluator.pdf" target="_blank" style="color:white">1<sup>st</sup> Evaluator : TIF</a>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><a href="~/Manual/2nd Evaluator.pdf" target="_blank" style="color:white"><i class="fa fa-file-pdf-o"></i></a></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Manual Guide</span>
                            <span class="info-box-text"></span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%"></div>
                            </div>
                            <span class="progress-description">
                                <a href="~/Manual/2nd Evaluator.pdf" target="_blank" style="color:white">2<sup>nd</sup> Evaluator : TIF</a>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><a href="~/Manual/For Mass Recruitment_All RolesV2.pdf" target="_blank" style="color:white"><i class="fa fa-file-pdf-o"></i></a></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Manual Guide</span>
                            <span class="info-box-text"></span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%"></div>
                            </div>
                            <span class="progress-description">
                                <a href="~/Manual/For Mass Recruitment_All RolesV2.pdf" target="_blank" style="color:white">Mass Evaluator</a>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><a href="http://www.thapp4.kworld.kpmg.com/TraineeEvaluation/Login/Login" target="_blank" style="color:white"><i class="fa fa-fw fa-users"></i></a></span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                Trainee Evaluation Link
                            </span>
                            <span class="info-box-text"></span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%"></div>
                            </div>
                            <span class="progress-description">
                                <a href="http://www.thapp4.kworld.kpmg.com/TraineeEvaluation/Login/Login" target="_blank" style="color:white">thapp4.kworld.kpmg.com/TraineeEvaluation</a>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><a href="~/Manual/Trainee Timesheet Approval.pdf" target="_blank" style="color:white"><i class="fa fa-fw fa-file-pdf-o"></i></a></span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                Trainee Timesheet & Perdiem
                            </span>
                            <span class="info-box-text"></span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%"></div>
                            </div>
                            <span class="progress-description">
                                <a href="~/Manual/Trainee Timesheet Approval.pdf" target="_blank" style="color:white">Trainee Timesheet Approval.</a>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>


            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Quick Link</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <a class="btn btn-app" href="@Url.Action("PersonnelRequestCreate", "PersonnelRequest", null)" onclick="BlockUI()">
                                        <i class="fa fa-edit"></i> Request
                                    </a>
                                    <a class="btn btn-app" href="@Url.Action("RCMTrackingList", "RCMTracking", null)" onclick="BlockUI()">
                                        @*<span class="badge bg-yellow">3</span>*@
                                        <i class="fa fa-bullhorn"></i> Tracking
                                    </a>
                                    @*<a class="btn btn-app" href="~/Manual/For Mass Recruitment_All RolesV2.pdf" target="_blank">
            <i class="fa fa-file-pdf-o"></i>MASS Eva
        </a>
        <a class="btn btn-app" href="~/Manual/1st Evaluator.pdf" target="_blank">
            <i class="fa fa-file-pdf-o"></i>1st Eva_TIF
        </a>
        <a class="btn btn-app" href="~/Manual/2nd Evaluator.pdf" target="_blank">
            <i class="fa fa-file-pdf-o"></i>2nd Eva_TIF
        </a>*@
                                    @if (Model.is_pes == "Y")
                                    {
                                        <a class="btn btn-app" href="~/Manual/Guide to PES Performance Evaluation.pdf" target="_blank">
                                            <i class="fa fa-file-pdf-o"></i>PES Guide
                                        </a>
                                        <a class="btn btn-app" href="~/Manual/Guide to PPP.pdf" target="_blank">
                                            <i class="fa fa-file-pdf-o"></i>PES Plan Guide
                                        </a>
                                        <a class="btn btn-app" href="~/Manual/Guide to PES Nomination.pdf" target="_blank">
                                            <i class="fa fa-file-pdf-o"></i>PES Nomination Guide
                                        </a>
                                    }

                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-solid box-info">
                        <div class="box-header with-border">
                            <i class="fa fa-commenting"></i>
                            <h3 class="box-title">Human Capital Management</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul>
                                <li><h45 class="">All employee data will be automatically updated at 8AM everyday.</h45></li>
                                <li><h45 class="">All employee data includes short and <span>long-term</span> secondments&nbsp;in &amp; out, leave without pay, contractors, and special projects.</h45></li>
                                <li><h45 class="">If you have any questions, please contact <br /><span class="hilight">Khun Chatyupa, Chaiprasit at Chatyupa@kpmg.co.th</span></h45></li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section style{
    <style>
        h45 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            font-size: 17px;
        }

        .hilight {
            font-weight: 600;
        }

        img.center {
            display: block;
            margin: 0 auto;
        }

        .btn-app {
            border-radius: 3px;
            position: relative;
            padding: 15px 5px;
            margin: 0 0 10px 10px;
            min-width: 80px;
            height: 60px;
            text-align: center;
            color: #666;
            border: 1px solid #ddd;
            background-color: #f4f4f4;
            font-size: 12px;
        }
    </style>
}
@section scripts{

    <script type="text/javascript">

    </script>

}